 <div class="backdrop" *ngIf="isActivePost">
<app-npost  (ee)="dnewPost()"></app-npost>
 </div>
<section class="job-listing">
   <h1 class="open-heading">Current Openings</h1>
  <ul class="job-list">
    <li><a href="#">
      <div class="small-info">
        <h3 class="job-title">Backend Engineer</h3>
        <p class="job-info"><i class="fas fa-map-marker"></i><span>Banglore</span></p>
      </div>
    </a>
    </li>
    <li>
      <a href="">
        <div class="small-info">
          <h3 class="job-title">Frontend Engineer</h3>
          <p class="job-info"><i class="fas fa-map-marker"></i><span>Banglore</span></p>
        </div>
      </a>
    </li>
    <li><a href="#">
      <div class="small-info">
        <h3 class="job-title">DataBase Designnner</h3>
        <p class="job-info"><i class="fas fa-map-marker"></i><span>Banglore</span></p>
      </div>
    </a></li>
    <li><a href="#">
      <div class="small-info">
        <h3 class="job-title">Linux Adminstarator</h3>
        <p class="job-info"><i class="fas fa-map-marker"></i><span>Banglore</span></p>
      </div>
    </a></li>
  </ul>
</section>










  <section class="gen-post">
      <div class="btn-wrapper">
         <button (click)="newPost()" class="btn-direct">New Post</button>
      </div>

      <div class="card" *ngFor="let post of allPosts">
        <div class="text-wrapper">
             <p>{{post.message}}</p>
           </div>
           <div class="image-wrapper">
                <img [src]="post.image" alt="" class="image-direct">
              </div>
      </div>
  </section>

