

<div class="chat-heading">
  <h1>Your Messages</h1>
</div>

<div class="past-chat-wrapper">
    <div class="chat-list-heading">
      <h2>Your Contacts</h2>
    </div>
          <ul class="contact-list">
            <li class="contact-list-element"><button>Piyush Awasthi</button></li>
            <li class="contact-list-element"><button>Piyush Awasthi</button></li>
            <li class="contact-list-element"><button>Piyush Awasthi</button></li>
            <li class="contact-list-element"><button>Piyush Awasthi</button></li>
            <li class="contact-list-element"><button>Piyush Awasthi</button></li>
          </ul>
</div>


<div class="chat-box-wrapper">
  <app-chat-display></app-chat-display>

</div>



<!--<input type="text" [(ngModel)]="inputMessage">-->
<!--  <button (click)="sendMessage()">Send Message</button>-->
