<div class="spinner-loader" *ngIf="dprofile==null">
 <app-loader-spinner></app-loader-spinner>
</div>
<div class="container" *ngIf="dprofile">
    <div class="bio-data">
       <div class="intro">
          <div class="pimage" [ngStyle]="{'background-image': 'url(' + dprofile.pimage +')'}">
          </div>
         <div class="pname">
           <h1>{{dprofile.name}}</h1>
           <p>{{dprofile.about}}</p>
            </div>
       </div>
       <div class="edu-section">
            <h1>Education:</h1>
            <ol>
              <li *ngFor="let edu of dprofile?.education">
                 <p>{{edu.school}} ({{edu.year}})</p>
              </li>
            </ol>
          </div>
        <div class="skills-section">
            <h1>Skills</h1>
              <ol>
               <li *ngFor="let skill of dprofile.skills">{{skills[+skill.skill]}} ({{ skill.value}})</li>
               </ol>
          </div>
      <div class="edu-section">
        <h1>Experience:</h1>
        <ol>
          <li *ngFor="let exper of dprofile.experience">
            <p>{{exper.company}} ({{exper.year}})</p>
          </li>
        </ol>
      </div>
    </div>
</div>
