<div class="container">
    <div class="bio-data">
       <div class="intro">
          <div class="pimage" [ngStyle]="{'background-image': 'url(' + imageUrl +')'}">
          </div>
         <div class="pname">
           <h1>{{ 'Raghvendra Mishra'}}</h1>
           <p>Lorem ipsum dolor sit amet.</p>
            </div>
       </div>

          <div class="edu-section">
                 <h1>Education:</h1>
          <p>1: Rnt Education Center</p>
           <p>2:  Motilal Nehru National Institute of Technology , Allahabad</p>
          </div>

          <div class="skills-section">
            <h1>Skills</h1>
              <ol>
               <li>Web Developement</li>
             <li>Software Development</li>
            <li>Ethical Hacking</li>
               </ol>
          </div>


    </div>
</div>
