<div class="container">
  <div class="job-wrapper">
    <div class="jgeneral">
      <h2> Job Title</h2>
      <p>{{jobDesc.jtitle}}</p>
    </div>
    <div class="jgeneral">
      <h2>Job Id</h2>
      <p>{{jobDesc.jid}}</p>
    </div>
    <div class="jgeneral">
      <h2>Company Name</h2>
      <p>Microsoft</p>
    </div>
    <div class="jgeneral">
      <h2>Eligibility</h2>
      <p>{{jobDesc.eligibility}}</p>
    </div>
    <div class="jgeneral">
      <h2>Deadline</h2>
      <p>{{jobDesc.jdeadline}}</p>
    </div>
    <div class="jgeneral">
      <h2>Location</h2>
      <p>{{jobDesc.location}}</p>
    </div>
    <div class="jgeneral">
      <h2>Skills</h2>
      <p>{{jobDesc.skills}}</p>
    </div>
    <div class="jgeneral">
      <h2>Qualification</h2>
      <p>{{jobDesc.qualification}}</p>
    </div>
    <div class="jgeneral">
      <h2>Compensation</h2>
      <p>{{jobDesc.compensation}}</p>
    </div>
    <div class="apply-btn">
      <button class="btn-direct" type="button" (click)="toApply()">Apply for This Job</button>
    </div>
  </div>
</div>
