<nav class="dev-nav">
      <ul class="nav-list">
        <li class="nav-item"><a [routerLink]="['/dev']" class="nav-link">Profile</a>
          <div class="spacing"></div>
        </li>
        <li class="nav-item"><a [routerLink]="['/dev/djobs']" class="nav-link">Jobs</a>
          <div class="spacing"></div>
        </li>
        <li class="nav-item"><a  [routerLink]="['/dev/dsearch']"  class="nav-link">Tops</a>
          <div class="spacing"></div>
        </li>
      </ul>
</nav>

<!--   This is  profile section-->
<div class="fixed-assertion">
<router-outlet></router-outlet>
</div>
