<nav class="dev-nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="#" class="nav-link">Profile</a>
          <div class="spacing"></div>
        </li>
        <li class="nav-item"><a href="#" class="nav-link">Jobs</a>
          <div class="spacing"></div>
        </li>
        <li class="nav-item"><a href="#" class="nav-link">Tops</a>
          <div class="spacing"></div>
        </li>
      </ul>
</nav>

<!--   This is  profile section-->
<div class="fixed-assertion">
<app-dsection></app-dsection>
</div>
