<nav class="test">
  <ul class="list-container">
    <li class="nav-item"><a [routerLink]="['/dev']" class="nav-link"><i class="fas fa-user"></i></a></li>
    <li class="nav-item"><a [routerLink]="['/dev/update-profile']"  class="nav-link"><i class="fas fa-user-edit"></i></a></li>
    <li class="nav-item"><a [routerLink]="['/dev/past-result']"  class="nav-link"><i class="fas fa-poll"></i></a></li>
    <li class="nav-item"><a [routerLink]="['/dev/notification']"  class="nav-link"><i class="fas fa-bell"></i></a></li>
    <li class="nav-item"><a [routerLink]="['/dev/messaging']" class="nav-link"><i class="fas fa-comments"></i></a></li>
    <li class="nav-item"><a  class="nav-link"><i class="fas fa-sign-out-alt"></i></a></li>
  </ul>
</nav>
<div class="fixed-margin">
<router-outlet></router-outlet>
</div>
