<div class="search-wrapper" xmlns="http://www.w3.org/1999/html">
  <div class="search-input">
    <label for="name">Serach the Companies</label>
    <input type="text" class="input-direct" #f>
      <button (click)="findCompanies(f.value)" class="btn-direct"><i class="fas fa-search"></i></button>
  </div>
</div>
        <div class="search-result">
                <div class="heading">
                     <h1>Search Result</h1>
                </div>
             <div>
                  <ul class="search-result">
                       <li class="search-element" *ngFor="let comp of matchedCompany;let i=index">
                         <button (click)="companyDisplay(comp.compId)" class="search-result-button"> <span class="spanid">{{comp.compId}}</span>
                               <span class="spanname">{{comp.compName}}</span>
                         </button>
                       </li>

                  </ul>

             </div>
        </div>
<div class="subs-wrapper">
    <div class="heading">
        <h1>Your Subscriptions</h1>
    </div>
  <div class="all-subscription">
          <div class="compnay-card" *ngFor="let subs of allSubscriptions; let i=index">
              <button (click)="companyDisplay(subs.compId)">
            <div class="name-field">
                <h2 class="name-direct">{{subs.compName}}</h2>
            </div>
              <div class="id-field">
                   <p class="id-direct">{{subs.compId}}</p>
              </div>
              </button>
          </div>
  </div>
</div>
