.container {
      width: 500px;
       height: 200px;
        margin: 100px auto;
         background-color: #ddd;
          display: flex;
            justify-content: space-between;
}
.btn1 {
    padding: 10px;

}
.btn2 {
       padding: 10px;

}
 button {
       font-size: 20px;
       padding: 5px;
   cursor: pointer;
 }
.nav {
     text-align: center;
}
