<div class="laoder-class" *ngIf="isLoading">
   <app-loader-spinner></app-loader-spinner>
</div>

<div class="job-detail-wrapper">
  <div class="secondary-wrapper">
    <div class="tur-wrapper">
      <p><span>Jid:</span>  {{jgeneralDetail.jid}}</p>
    </div>
    <div class="tur-wrapper">
      <p><span>Job Title: </span>{{jgeneralDetail.jtitle}}</p>
    </div>
  </div>
  <div class="secondary-wrapper">
    <div class="tur-wrapper">
      <p><span>About:</span> {{jgeneralDetail.jabout}}</p>
    </div>
  </div>
  <div class="secondary-wrapper">
    <div class="tur-wrapper">
      <p><span>Eligibility: {{jgeneralDetail.eligibility}}</span></p>
    </div>
    <div class="tur-wrapper">
      <p><span>Deadline: {{jgeneralDetail.jdeadline}}</span></p>
    </div>
  </div>
  <div class="secondary-wrapper">
    <div class="tur-wrapper">
      <p><span>Location: </span> {{jgeneralDetail.location}}</p>
    </div>
    <div class="tur-wrapper">
      <p><span> Qualification: </span> {{jgeneralDetail.qualification}}</p>
    </div>
  </div>
  <div class="secondary-wrapper">
    <div class="tur-wrapper">
      <p> <span>Skills: </span> {{jgeneralDetail.skills}}</p>
    </div>
     <div class="tur-wrapper">
       <p><span>Compensation: </span> {{jgeneralDetail.compensation}}</p>
     </div>
  </div>
  <div class="secondary-wrapper">
    <div class="tur-wrapper">
      <p><span>CreatedAt: </span> {{jgeneralDetail.createdAt}}</p>
    </div>
    <div class="tur-wrapper">
      <p><span>UpdatedAt: </span>{{jgeneralDetail.updatedAt}}</p>
    </div>
  </div>
</div>



<div class="applicant-wrapper">

</div>



